<div class="container">
    <h1 class="mt-3">Edit guest</h1>
    <ng-container *ngIf ="guest;else notFound"  >
        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="form-data">
                <div class="mb-3">
                    <label for="guestId" class="form-label">Guest Id</label>
                    <input type="text" disabled class="form-control" id="guestId" name="guestId"
                        [(ngModel)]="guest.guestId" >
                </div>
                <div class="mb-3">
                    <label for="guestName" class="form-label">Guest Name</label>
                    <input type="text" class="form-control" id="guestName" name="guestName"
                    [(ngModel)]="guest.guestName"  >
                </div>
    
                <div class="mb-3">
                    <label for="guestEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email"
                    [(ngModel)]="guest.email" >
                </div>
    
                <div class="mb-3">
                    <label for="guestGender" class="input-label">Gender</label>
                    <select class="form-select" id="gender"  [(ngModel)]="guest.gender" name="gender" >
                        <option selected>{{guest.gender}}</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
    
                <div class="mb-3">
                    <label for="guestNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phoneNumber"
                    [(ngModel)]="guest.phoneNumber" >
                </div>
    
                <div class="col-md-6">
                    <label for="guestCity" class="form-label">State</label>
                    <input type="text" class="form-control" id="inputCity"  name="inputCity"  [(ngModel)]="guest.state" >
                </div>
    
                <div class="col-md-2">
                    <label for="guestPinCode" class="form-label">PinCode</label>
                    <input type="text" class="form-control" id="inputZip" name="inputZip"  [(ngModel)]="guest.pinCode" >
                </div>
    
                <div class="mt-3 d-flex">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-danger mt-3" type="button"
                    (click)="onDelete()"
                    >Delete</button>
                </div>
    
            </div>
        </form>

    </ng-container>

    <ng-template #notFound>
        <div class="alert alert-warning" role="alert" >
           Guest not found!
        </div>

    </ng-template>
</div>