<div class="container">
    <h3 class="room-heading">Add Inventory</h3>
    <form #Form="ngForm" (ngSubmit)="onFormSubmit()" novalidate>
        <div class="form-data">
            <!-- Inventory Name -->
            <div class="mb-3">
                <label class="form-label">Inventory Name</label>
                <input type="text" class="form-control" id="roomType" name="roomType" placeholder="Inventory Name"
                    [(ngModel)]="model.inventoryName" required #inventoryName="ngModel">
                <div *ngIf="inventoryName.invalid && inventoryName.touched" class="text-danger">
                    <small *ngIf="inventoryName.errors?.['required']">Inventory Name is required.</small>
                </div>
            </div>

            <!-- Quantity -->
            <div class="mb-3">
                <label class="form-label">Quantity</label>
                <input type="number" class="form-control" id="description" name="description" placeholder="0"
                    [(ngModel)]="model.quantity" required min="1" #quantity="ngModel">
                <div *ngIf="quantity.invalid && quantity.touched" class="text-danger">
                    <small *ngIf="quantity.errors?.['required']">Quantity is required.</small>
                    <small *ngIf="quantity.errors?.['min']">Quantity must be at least 1.</small>
                </div>
            </div>

            <!-- Category -->
            <div class="mb-3">
                <label class="form-label">Category</label>
                <input type="text" class="form-control" id="numberOfBeds" name="numberOfBeds" placeholder="Category"
                    [(ngModel)]="model.category" required #category="ngModel">
                <div *ngIf="category.invalid && category.touched" class="text-danger">
                    <small *ngIf="category.errors?.['required']">Category is required.</small>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="col-12">
                <button class="btn btn-primary" type="submit" [disabled]="Form.invalid">Add</button>
            </div>
        </div>
    </form>
</div>