<div class="container">
    <h1 class="mt-3">Billing List</h1>

    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBillModal">Generate Bill</button>
    </div>
    <div class="table-wrapper">
        <!-- Async pipe to handle data -->
        <ng-container *ngIf="paginatedBills.length > 0; else noBills">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Bill Id</th>
                        <th>Billing Number</th>
                        <th>Booking Id</th>
                        <th>Guest Name</th>
                        <th>Room Cost</th>
                        <th>Taxes</th>
                        <th>Total Cost</th>
                        <th>Payment Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let billing of paginatedBills">
                        <td>{{ billing.id }}</td>
                        <td>{{ billing.billingNo }}</td>
                        <td>{{ billing.bookingId}}</td>
                        <td>{{ billing.guestName}}</td>
                        <td>{{ billing.roomCost| currency:'INR':'symbol' }}</td>
                        <td>{{ billing.taxes | currency:'INR':'symbol' }}</td>
                        <td>{{ billing.totalCost | currency:'INR':'symbol' }}</td>
                        <td>{{ billing.paymentStatus }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="viewBill(billing.id)">
                                View Bill
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>


    <!-- Pagination Controls -->
    <div class="pagination-container mt-3" *ngIf="totalPages > 1">
        <ul class="pagination">
            <li *ngIf="currentPage > 1">
                <a (click)="changePage(currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pages" [class.active]="page === currentPage">
                <a (click)="changePage(page)">{{ page }}</a>
            </li>
            <li *ngIf="currentPage < totalPages">
                <a (click)="changePage(currentPage + 1)">Next</a>
            </li>
        </ul>
    </div>

    <!-- Show message if no bookings -->
    <ng-template #noBills>
        <div class="alert alert-info mt-3">
            No bills found.
        </div>
    </ng-template>

    <!-- Bootstrap Modal for Add Guest Form -->
    <div class="modal fade" id="addBillModal" tabindex="-1" aria-labelledby="addBillModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="addBillModalLabel">Bill</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()" ></button>
                </div>
                <div class="modal-body">
                    <!-- Load AddGuestComponent -->
                    <app-billing (billAdded)="closeModal()"></app-billing>
                </div>
            </div>
        </div>
    </div>

</div>