<div class="container">
    <div>
      <h1>Payment Page</h1>
    </div>
    <div class="card">
      <div *ngIf="billing">
        <h4>Bill Details:</h4>
        <p><strong>Billing ID:</strong> {{ billing.id }}</p>
        <p><strong>Total Cost:</strong> {{ billing.totalCost | currency: 'INR': 'symbol' }}</p>
        
      <form #Form="ngForm" (ngSubmit)="makePayment()">

        <label for="paymentMethod">Payment Method:</label>
        <select id="paymentMethod" [(ngModel)]="paymentMethod" name="paymentMethod">
          <option value="Card">Card</option>
          <option value="Cash">Cash</option>
          <option value="Net Banking">Net Banking</option>
          <option value="UPI">UPI</option>
        </select>
        
        <button type="submit" [disabled]="payment.paymentAmount <= 0">Make Payment</button>
      </form>
      </div>

      <div *ngIf="!billing">
        <p>Loading bill details...</p>
      </div>
    </div>
  </div>