/* General container styles */
#home_page {
    max-width: 90%;
    margin: auto;
    padding: 20px;
}

/* Carousel styles */
#carouselExampleCaptions {
    position: relative;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.carousel-inner .carousel-item:hover img {
    transform: scale(1.05);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carousel-caption p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 10px;
}


/* Room section styles */
 .room-heading {
    text-align: center;
    color: blue;
    margin-bottom: 20px;
}

.rooms_Container {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.room-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* justify-content: center;  */
    gap: 20px;
    width: 64rem;
}

 .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
} 

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 200px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.btn-primary {
    background-color: #3498db;
    border: none;
    transition: background-color 0.2s ease;
}

.btn-primary:hover {
    background-color: #1d78c1;
}

.room-text{
    color: blue;
    text-align:right;
    padding: 10px;
}

.card-values {
    display: flex;
    gap: 10px; /* Space between the items */
    align-items: center; /* Align items vertically */
  }
  
  .card-value-beds, .card-value-status{
    margin: 0; 
  }
  .card-value-status span{
    margin: 0; 
    color: rgba(81, 228, 40, 0.966);
  }
