<div class="container">
    <h3 class="room-heading">Booking Details</h3>
    <form #Form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="form-data">
            <div class="mb-3">
                <label class="form-label">Number Of Adults</label>
                <input type="number" class="form-control" id="numberOfAdults" name="numberOfAdults"
                    placeholder="0" [(ngModel)]="model.numberOfAdults">
            </div>

            <div class="mb-3">
                <label class="form-label">Number Of Children</label>
                <input type="number" class="form-control" id="numberOfChildren" name="numberOfChildren"
                    placeholder="0" [(ngModel)]="model.numberOfChildren" >
            </div>

            <div class="mb-3">
                <label class="form-label">CheckIn DateTime</label>
                <input type="datetime-local" class="form-control" id="checkIn" name="checkIn"
                    placeholder="0" [(ngModel)]="model.checkIn" >
            </div>

            <div class="mb-3">
                <label class="form-label">checkOut DateTime</label>
                <input type="datetime-local" class="form-control" id="checkOut" name="checkOut"
                    placeholder="street" [(ngModel)]="model.checkOut" >
            </div>

            <div class="mb-3">
                <label class="form-label">Guest Id</label>
                <input type="number" class="form-control" id="guestId" name="guestId"
                    placeholder="" [(ngModel)]="model.guestId" >
            </div>

            <div class="mb-3">
                <label class="form-label">Room No.</label>
                <input type="number" class="form-control" id="roomId" name="roomId"
                    placeholder="" [(ngModel)]="model.roomId" >
            </div>


            <div class="col-12">
                <button class="btn btn-primary" type="submit">Add Staff</button>
            </div>

        </div>
    </form>

</div>