<div class="container">
    <h3 class="login-heading">Login</h3>
    <div class="login-form">
        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="login-field">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" [(ngModel)]="model.email" >
                </div>
                <div class="mb-3">
                    <label for="inputPassword5" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control"  placeholder="password" [(ngModel)]="model.passwordHash" >
                </div>
                
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
