<div class="container">
    <h3 class="guest-heading">Guest Details</h3>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="form-data">
            <div class="mb-3">
                <label class="form-label">Guest Name</label>
                <input type="name" class="form-control" id="guestName" name="guestName"
                    placeholder="Name" [(ngModel)]="model.guestName" >
            </div>

            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email"
                    placeholder="email@example.com" [(ngModel)]="model.email">
            </div>

            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-select" id="gender" [(ngModel)]="model.gender" name="gender">
                    <option selected>Choose...</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phone" name="phoneNumber"
                    placeholder="123456789" [(ngModel)]="model.phoneNumber">
            </div>

            <div class="col-md-6">
                <label class="form-label">State</label>
                <input type="text" class="form-control" id="inputCity"  name="inputCity" [(ngModel)]="model.state">
            </div>

            <div class="col-md-2">
                <label class="form-label">PinCode</label>
                <input type="text" class="form-control" id="inputZip" name="inputZip" [(ngModel)]="model.pinCode">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Add Guest</button>
            </div>

        </div>
    </form>

</div>